body {
    background-color: #4c0000;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.column {
    list-style: outside;
    padding: 0;
    display: flex;
}

#connected-players {
    background-color: #1A7C20;
}

#disconnected-players {
    background-color: #BB0000;
}

.two-columns {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

td, tr {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}